{% extends 'base_detail_produit.html.twig' %}

{% block caractéristique %}
    {% for detail_produit in produit %}
            <div class="card_produit">

                    <img src="{{ detail_produit.photo }}" alt="photo catégorie">
                    <div class="card_produit_lib_desc_btn">
                        <div class="card_produit_lib_desc">
                            <p>{{ detail_produit.lib }}</p>
                            <p class="desc">{{ detail_produit.description }}</p>
                            <div class="prix">
                                <p>{{ detail_produit.prix }}€</p>
                                <p class="ht">{{ detail_produit.prixht }}€HT</p>
                            </div>
                        </div>
                        <btn class="btn_panier">
                            Voir les details du produit
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </btn>
                    </div>
                
            </div>
        {% endfor %}
{% endblock %}