{% extends 'base_detail_produit.html.twig' %}

{% block caractéristique %}
    {% for produit in produit %}
        <h2>Caractéristique du produit</h2>
        <h3>Caractéristiques générales</h3>
            <p>Marque: {{ produit.marque }}</p>
            <p>Modèle: {{ produit.modele }}</p>
            <p>Système d'exploitation: {{ produit.sysExp }}</p>
            <p>Processeur: {{ produit.proc }}</p>
            <p>Fréquence du processeur: {{ produit.procFreq }}</p>
            <p>Nombre de coeur: {{ produit.procNbrCoeur }}</p>
            <p>Modèle de la carte graphique: {{ produit.cgModele }}</p>
            <p>Stockage: {{ produit.stkage }}Go</p>
            <p>Type de stockage: {{ produit.typeStkage }}</p>
            <p>Webcam: {{ produit.webcam }}</p>
            <p>Couleur: {{ produit.couleur }}</p>
        <h3>Ecran</h3>
            <p>Résolution de l'ecran: {{ produit.resolution }}</p>
        <h3>Connectivité</h3>
            <p>Wifi: {{ produit.wifi }}</p>
            <p>Bluetooth: {{ produit.bluetooth }}</p>
        <h3>Connectique</h3>
            <p>Nombre de port USB: {{ produit.portUsb }}</p>
            <p>Nombre de port HDMI: {{ produit.portHdmi }}</p>
        <h3>Mémoire</h3>
            <p>Quantité de RAM: {{ produit.ram }}Go</p>
            <p>Fréquence RAM: {{ produit.freqRam }}</p>
        <h3>Dimension</h3>
            <p>Hauteur: {{ produit.hauteur }}</p>
            <p>Largeur: {{ produit.largeur }}</p>
            <p>Profondeur: {{ produit.profondeur }}</p>
            <p>Poid: {{ produit.poid }}</p>
    {% endfor %}
{% endblock %}