{% extends 'base_detail_produit.html.twig' %}

{% block caractéristique %}
    {% for produit in produit %}
        {% for detailProduit in detailProduit %}
            <div class="caracteristique_produit">
                <h2>Caractéristique du produit</h2>
                <h3>Caractéristiques générales</h3>
                    <p>Marque: {{ produit.marque }}</p>
                    <p>Modèle: {{ produit.modele }}</p>
                    <p>Système d'exploitation: {{ detailProduit.sysExp }}</p>
                    <p>Processeur: {{ detailProduit.proc }}</p>
                    <p>Fréquence du processeur: {{ detailProduit.procFreq }}</p>
                    <p>Nombre de coeur: {{ detailProduit.procNbrCoeur }}</p>
                    <p>Modèle de la carte graphique: {{ detailProduit.cgModele }}</p>
                    <p>Stockage: {{ detailProduit.stkage }}Go</p>
                    <p>Type de stockage: {{ detailProduit.typeStkage }}</p>
                    <p>Couleur: {{ produit.couleur }}</p>
                <h3>Connectivité</h3>
                    <p>Wifi: {{ detailProduit.wifi }}</p>
                <h3>Connectique</h3>
                    <p>Nombre de port USB: {{ detailProduit.portUsb }}</p>
                    <p>Nombre de port HDMI: {{ detailProduit.portHdmi }}</p>
                <h3>Mémoire</h3>
                    <p>Quantité de RAM: {{ detailProduit.ram }}Go</p>
                    <p>Type de la RAM: {{ detailProduit.ramType }}</p>
                <h3>Dimension</h3>
                    <p>Hauteur: {{ produit.hauteur }} cm</p>
                    <p>Largeur: {{ produit.largeur }} cm</p>
                    <p>Profondeur: {{ produit.profondeur }} cm</p>
                    <p>Poid: {{ produit.poid }} g</p>
            </div>
            {% endfor %}
    {% endfor %}
{% endblock %}