{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/assets/css/base.style.css')}}">
    <link rel="stylesheet" href="{{asset('/assets/css/style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% apply inline_css %}
    <style>
    :root {
        /* Couleurs */
        --Noir: #000000;
        --Marron: #E07A5F;
        --Bleu: #3D405B;
        --Beige-1: #FDF0E7;
        --Beige-2: #E3CBBB;
    }

    #panier {
        margin: 5% 10% 5% 10%;
    }

    h1 {
        color: var(--Bleu);
        font-family: 'Farro';
        font-size: 50px;
    }

    #panier_all {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }

    #panier_titre {
        color: var(--Bleu);
        font-family: 'Farro';
        font-size: 50px;
    }

    .panier_contenue_all {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 7px 1px #D4D4D4;
        padding: 10px;
        border-radius: 15px;
        width: 40%;
    }

    .panier_contenue_all h2 {
        font-family: 'Farro';
        text-align: center;
        font-size: 32px;
        color: var(--Bleu);
    }

    .panier_contenue {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-radius: 15px;
    }

    .panier_contenue img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 5px;
    }

    .panier_contenue h3, .panier_contenue p {
        margin: 0px;
        color: var(--Bleu);
        font-family: 'Raleway';
    }

    .panier_quantiter_prix {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

    .panier_quantite {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5%;
    }

    .panier_ajouter_quantiter_retirer {
        display: flex;
        align-items: center;
        font-size: 24px;
    }

    .panier_quantite a {
        text-decoration: none;
        color: var(--Bleu);
        font-family: 'Farro';
    }

    .icon_trash {
        background-color: var(--Beige-1);
        border: 1px var(--Marron) solid;
        border-radius: 100%;
        padding: 2px;
    }

    .a_trash {
        margin-top: 2.5%;
        margin-left: auto;
    }

    .panier_quantite a .trash:hover {
        background-color: var(--Beige-2);
    }

    .panier_ajouter_quantiter_retirer {
        border-radius: 10%;
        box-shadow: 0px 0px 7px 1px #D4D4D4;
    }

    .panier_quantite p {
        color: var(--Bleu);
        font-family: 'Farro';
        background-color: var(--Beige-1);
        padding-left: 25%;
        padding-right: 25%;
        border: 1px var(--Marron) solid;
    }

    .panier_ajouter, .panier_retirer {
        padding-left: 10%;
        padding-right: 10%;
        border: 1px var(--Marron) solid;
    }

    .panier_ajouter {
        background-color: var(--Marron);
        border-radius: 10% 0% 0% 10%;
    }

    .panier_retirer {
        background-color: var(--Marron);
        border-radius: 0% 10% 10% 0%;
    }

    .panier_prix_u {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    .panier_prix {
        font-family: 'Farro' !important;
    }

    .panier_prix_ht {
        font-size: 14px !important;
        text-align: end;
    }

    .panier_total {
        box-shadow: 0px 0px 7px 1px #D4D4D4;
        border-radius: 15px;
        width: auto;
        padding-right: 2%;
        padding-bottom: 1%;
        text-align: center;
    }

    .panier_total ul {
        list-style: none;
        padding: 0% 5% 0% 5%;
        margin-bottom: 2.5%;
    }

    .panier_total li {
        color: var(--Bleu);
        font-family: 'Farro';
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }

    .panier_total p {
        font-family: 'Raleway';
        margin: 0px;
        margin-left: 3%;
        white-space: nowrap;
    }

    .panier_total .total {
        border-top: 1px solid var(--Bleu);
        padding-top: 5%;
        margin-top: 20%;
    }

    .panier_total a {
        background-color: var(--Marron);
        color: var(--Beige-1);
        font-size: 20px;
        font-family: 'Farro';
        padding: 0% 2.5% 0% 2.5%;
        border-radius: 25px;
        text-decoration: none;
        margin-left: 7%;
        white-space: nowrap;
    }
    </style>

    <div id="panier_all">
        <h1>Merci pour votre commande sur Ragnaloub !</h1>
        {% set totalPanier = 0 %}
        {% set totalHtPanier = 0 %}
        {% set totalTVA = 0 %}

        <div class="panier_contenue_all">
            {% for item in panier %}

                {% set totalArticle = item.produit.prix * item.quantite %}
                {% set totalPanier = totalPanier + totalArticle %}

                {% set totalHtArticle = item.produit.prixHt * item.quantite %}
                {% set totalHtPanier = totalHtPanier + totalHtArticle %}

                {% set totalTVA = totalPanier - totalHtPanier %}

                <div class="panier_contenue">
                    <div class="panier_lib_desc">
                        <h3>{{item.produit.lib}}</h3>
                        {{item.produit.description|u.truncate(300, '...')|raw}}
                    </div>

                    <div class="panier_quantiter_prix">
                        <div class="panier_quantite">
                            <div class="panier_ajouter_quantiter_retirer">
                                <p>{{item.quantite}}</p>
                            </div>
                        </div>

                        <div class="panier_prix_u">
                            <p>Total:</p>
                            <p class="panier_prix">{{ item.produit.prix * item.quantite }}€</p>
                            <p class="panier_prix_ht">{{ item.produit.prixHt * item.quantite }}€HT</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="panier_total">
            <ul>
                <li>Total Hors Taxe: <p>{{ totalHtPanier }}€ HT</p></li>
                <li>TVA: <p>{{ totalTVA }}€</p></li>
                <li class="total">Total: <p>{{ totalPanier }}€</p></li>
            </ul>
        </div>
    </div>
{% endapply %}