{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block pub %} <div id="publicite">Publicité</div> {% endblock %}

{% block body %}
    <div id="categorie_all">
        <h1 id="categorie_titre_categorie">Catégories Populaires</h1>
        <div id="categorie">
            {% for categorie in categoriespopu %}
                <div class="card_categorie">
                    <a href="{{ path('categorie_detail', { categorie : categorie.id }) }}">
                        <img src="{{ categorie.photo }}" alt="">
                        <div class="card_categorie_lib_desc_btn">
                            <div class="card_categorie_lib_desc">
                                <p>{{ categorie.lib }}</p>
                                <p class="desc">{{ categorie.description|u.truncate(60, '...') }}</p>
                            </div>
                            <a class="btn_categorie" href="#">Visiter la categorie</a>
                        </div>
                    
                </div>
            {% endfor %}
        </div>

        <h1 id="categorie_titre_categorie">Toutes les catégories</h1>
        <div id="categorie">
            {% for categorie in categories %}
                <div class="card_categorie">
                    <a href="{{ path('categorie_detail', { categorie : categorie.id }) }}">
                        <img src="{{ categorie.photo }}" alt="">
                    <div class="card_categorie_lib_desc_btn">
                        <div class="card_categorie_lib_desc">
                            <p>{{ categorie.lib }}</p>
                            <p class="desc">{{ categorie.description|u.truncate(60, '...') }}</p>
                        </div>
                        <btn class="btn_categorie">Visiter la categorie</btn>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}