{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block pub %} <div id="publicite">Publicité</div> {% endblock %}

{% block body %}
    <h1 id="accueil_titre_prod">Dernières sorties</h1>
    <div id="produit">
        {% for produit in produits %}
            <div class="card_produit">
                <a href="#">
                    <img src="{{ produit.photo }}" alt="photo catégorie">
                    <div class="card_produit_lib_desc_btn">
                        <div class="card_produit_lib_desc">
                            <p>{{ produit.lib }}</p>
                            <p class="desc">{{ produit.description|u.truncate(60, '...') }}</p>
                            <div class="prix">
                                <p>{{ produit.prix }}€</p>
                                <p class="ht">{{ produit.prixht }}€HT</p>
                            </div>
                        </div>
                        <btn class="btn_panier" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width='24px' height='24px' fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                            </svg>
                            Ajouter au panier
                        </btn>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div id="publicite">Publicité</div>

    <h1 id="accueil_titre_categorie">Nos différentes catégories</h1>
    <div id="accueil_categorie">
        {% for categorie in categories %}
            <div class="card_categorie">
                <a href="{{ path('categorie_detail', { categorie: categorie.id }) }}">
                    <img src="{{ categorie.photo }}" alt="">
                    <div class="card_categorie_lib_desc_btn">
                        <div class="card_categorie_lib_desc">
                            <p>{{ categorie.lib }}</p>
                        </div>
                        <btn class="btn_categorie" href="#">Visiter la categorie</btn>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <h1 id="accueil_titre_propos">À propos</h1>
    <div id="accueil_propos">
        <div id="accueil_horraire">
            <h2>Horraire d'ouverture</h2>
            <div id="horraire" class="card_propos">
                <ul id="jours_horraires">
                    <ul id="jours">
                        <li>Lundi</li>
                        <li>Mardi</li>
                        <li>Mercredi</li>
                        <li>Jeudi</li>
                        <li>Vendredi</li>
                        <li>Samedi</li>
                        <li>Dimanche</li>
                    </ul>
                    <ul id="horraires">
                        <li>9h - 18h</li>
                        <li>9h - 18h</li>
                        <li>9h - 18h</li>
                        <li>9h - 18h</li>
                        <li>9h - 18h</li>
                        <li>9h - 18h</li>
                        <li>Fermé</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div id="map" class="card_propos">
            <h2>Où nous trouver ?</h2>
            <img src="{{ asset('/assets/img/map.png') }}" alt="Map magasin">
        </div>
        <div id="accueil_contact_titre">
            <h2>Nous contacter</h2>
            <div id="contact_accueil" class="card_propos">
                <div id="mail_tel">
                    <div id="mail">
                        <p>Mail:</p>
                        <p>regnaloub@gmail.com</p>
                    </div>
                    <div id="telephone">
                        <p>Téléphone:</p>
                        <p>09.52.12.35.62</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
